### Create Database

In [3]:
# Import necessary libraries
import sqlite3
import pandas as pd

In [4]:
# Load the datasets into Pandas DataFrames
oil_data_file = 'filtered_oil_data.csv'   
tele_data_file = 'filtered_tele_data.csv' 

# Reading the CSV files into Pandas DataFrames
df_oil = pd.read_csv(oil_data_file)
df_tele = pd.read_csv(tele_data_file)

# Display the first few rows of both datasets to verify
print("Oil Data Sample:")
display(df_oil.head())  # Use display() for better formatting in Jupyter Notebook

print("\nTelecom Data Sample:")
display(df_tele.head())

Oil Data Sample:

,Company,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Year,Quarter
0,Chevron,2017-01-03,118.38,119.00,116.59,117.85,7404774.0,0.0,1.0,114.895968,115.497721,113.158650,114.381567,7404774.0,2017,2017Q1
1,Chevron,2017-01-04,118.41,118.65,117.60,117.82,6679943.0,0.0,1.0,114.925085,115.158022,114.138924,114.352450,6679943.0,2017,2017Q1
2,Chevron,2017-01-05,118.00,118.48,116.72,117.31,5928032.0,0.0,1.0,114.527152,114.993025,113.284824,113.857459,5928032.0,2017,2017Q1
3,Chevron,2017-01-06,117.45,117.58,116.38,116.84,4762474.0,0.0,1.0,113.993339,114.119513,112.954830,113.401292,4762474.0,2017,2017Q1
4,Chevron,2017-01-09,116.29,116.36,115.11,115.84,6891540.0,0.0,1.0,112.867479,112.935419,111.722207,112.430723,6891540.0,2017,2017Q1

Telecom Data Sample:

,Company,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Year,Quarter
0,AT&T,2017-01-03,42.69,43.030,42.52,43.02,26006613.0,0.00,1.0,40.628443,40.952024,40.466653,40.942507,26006613.0,2017,2017Q1
1,AT&T,2017-01-04,42.94,43.000,42.71,42.77,23199517.0,0.00,1.0,40.866370,40.923473,40.647477,40.704580,23199517.0,2017,2017Q1
2,AT&T,2017-01-05,42.85,42.890,42.53,42.65,25707068.0,0.00,1.0,40.780717,40.818785,40.476170,40.590375,25707068.0,2017,2017Q1
3,AT&T,2017-01-06,41.98,42.000,41.21,41.32,32687866.0,0.49,1.0,40.426516,40.445776,39.685010,39.790940,32687866.0,2017,2017Q1
4,AT&T,2017-01-09,41.29,41.395,40.80,40.80,25480912.0,0.00,1.0,39.762050,39.863164,39.290182,39.290182,25480912.0,2017,2017Q1

In [5]:
# Connect to (or create) the SQLite database
conn = sqlite3.connect('project_database.db')  # Creates the database if it doesn't exist

# Checking connection success
print("Database connected successfully!")

Database connected successfully!

In [6]:
# Write the oil data to a new table 'oil_data'
df_oil.to_sql('oil_data', conn, if_exists='replace', index=False)

# Write the telecom data to a new table 'tele_data'
df_tele.to_sql('tele_data', conn, if_exists='replace', index=False)

# Confirmation message
print("Data successfully written to database!")

Data successfully written to database!

In [7]:
# Query the database to fetch and display the first 5 records from each table

# Query for oil data
query_oil = "SELECT * FROM oil_data LIMIT 5;"
result_oil = pd.read_sql(query_oil, conn)
print("Oil Data Sample from Database:")
display(result_oil)

# Query for telecom data
query_tele = "SELECT * FROM tele_data LIMIT 5;"
result_tele = pd.read_sql(query_tele, conn)
print("Telecom Data Sample from Database:")
display(result_tele)

Oil Data Sample from Database:

,Company,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Year,Quarter
0,Chevron,2017-01-03,118.38,119.00,116.59,117.85,7404774.0,0.0,1.0,114.895968,115.497721,113.158650,114.381567,7404774.0,2017,2017Q1
1,Chevron,2017-01-04,118.41,118.65,117.60,117.82,6679943.0,0.0,1.0,114.925085,115.158022,114.138924,114.352450,6679943.0,2017,2017Q1
2,Chevron,2017-01-05,118.00,118.48,116.72,117.31,5928032.0,0.0,1.0,114.527152,114.993025,113.284824,113.857459,5928032.0,2017,2017Q1
3,Chevron,2017-01-06,117.45,117.58,116.38,116.84,4762474.0,0.0,1.0,113.993339,114.119513,112.954830,113.401292,4762474.0,2017,2017Q1
4,Chevron,2017-01-09,116.29,116.36,115.11,115.84,6891540.0,0.0,1.0,112.867479,112.935419,111.722207,112.430723,6891540.0,2017,2017Q1

Telecom Data Sample from Database:

,Company,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Year,Quarter
0,AT&T,2017-01-03,42.69,43.030,42.52,43.02,26006613.0,0.00,1.0,40.628443,40.952024,40.466653,40.942507,26006613.0,2017,2017Q1
1,AT&T,2017-01-04,42.94,43.000,42.71,42.77,23199517.0,0.00,1.0,40.866370,40.923473,40.647477,40.704580,23199517.0,2017,2017Q1
2,AT&T,2017-01-05,42.85,42.890,42.53,42.65,25707068.0,0.00,1.0,40.780717,40.818785,40.476170,40.590375,25707068.0,2017,2017Q1
3,AT&T,2017-01-06,41.98,42.000,41.21,41.32,32687866.0,0.49,1.0,40.426516,40.445776,39.685010,39.790940,32687866.0,2017,2017Q1
4,AT&T,2017-01-09,41.29,41.395,40.80,40.80,25480912.0,0.00,1.0,39.762050,39.863164,39.290182,39.290182,25480912.0,2017,2017Q1

In [8]:
# Always close the connection when done
conn.close()
print("Database connection closed.")

Database connection closed.