### Create Database

In [10]:
# Import necessary libraries
import sqlite3
import pandas as pd

# Establish a connection to SQLite (or your preferred database system)
conn = sqlite3.connect('stocks_analysis.db')
cursor = conn.cursor()

In [11]:
# Create tables for the different datasets
cursor.execute('''
    CREATE TABLE IF NOT EXISTS filtered_oil_data (
        Date TEXT,
        Open REAL,
        High REAL,
        Low REAL,
        Close REAL,
        Adj_Close REAL,
        Volume INTEGER,
        Company TEXT,
        Year INTEGER,
        Quarter TEXT
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS results_oil (
        Quarter TEXT,
        Company TEXT,
        "Quarterly Stock Price Change (%)" REAL,
        "Quarterly Volume Change (%)" REAL,
        "Quarterly ROI (%)" REAL,
        "Cumulative ROI (%)" REAL,
        "Cumulative ROI on $1500 ($)" REAL
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS filtered_tele_data (
        Date TEXT,
        Open REAL,
        High REAL,
        Low REAL,
        Close REAL,
        Adj_Close REAL,
        Volume INTEGER,
        Company TEXT,
        Year INTEGER,
        Quarter TEXT
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS results_tele (
        Quarter TEXT,
        Company TEXT,
        "Quarterly Stock Price Change (%)" REAL,
        "Quarterly Volume Change (%)" REAL,
        "Quarterly ROI (%)" REAL,
        "Cumulative ROI (%)" REAL,
        "Cumulative ROI on $1500 ($)" REAL
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS combined_filtered_data (
        Date TEXT,
        Open REAL,
        High REAL,
        Low REAL,
        Close REAL,
        Adj_Close REAL,
        Volume INTEGER,
        Company TEXT,
        Year INTEGER,
        Quarter TEXT
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS combined_results (
        Quarter TEXT,
        Company TEXT,
        "Quarterly Stock Price Change (%)" REAL,
        "Quarterly Volume Change (%)" REAL,
        "Quarterly ROI (%)" REAL,
        "Cumulative ROI (%)" REAL,
        "Cumulative ROI on $1500 ($)" REAL
    )
''')

In [12]:
# Load the CSV data
filtered_oil_df = pd.read_csv('outputs/filtered_oil_data.csv')
results_oil_df = pd.read_csv('outputs/results_oil.csv')
filtered_tele_df = pd.read_csv('outputs/filtered_tele_data.csv')
results_tele_df = pd.read_csv('outputs/results_tele.csv')
combined_filtered_df = pd.read_csv('outputs/combined_filtered_data.csv')
combined_results_df = pd.read_csv('outputs/combined_results.csv')

In [13]:
# Insert data into the respective tables
filtered_oil_df.to_sql('filtered_oil_data', conn, if_exists='replace', index=False)
results_oil_df.to_sql('results_oil', conn, if_exists='replace', index=False)
filtered_tele_df.to_sql('filtered_tele_data', conn, if_exists='replace', index=False)
results_tele_df.to_sql('results_tele', conn, if_exists='replace', index=False)
combined_filtered_df.to_sql('combined_filtered_data', conn, if_exists='replace', index=False)
combined_results_df.to_sql('combined_results', conn, if_exists='replace', index=False)

48

In [14]:
# Commit and close the connection
conn.commit()
conn.close()

print("Data successfully inserted into the database.")

Data successfully inserted into the database.

In [15]:
# Check database and tables

# Establish a connection to the SQLite database
conn = sqlite3.connect('stocks_analysis.db')

# Function to display the head of each table
def display_table_head(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 5"
    df = pd.read_sql(query, conn)
    print(f"Head of {table_name} table:")
    print(df)
    print("\n")

# List of tables to check
tables = ['filtered_oil_data', 'results_oil', 'filtered_tele_data', 'results_tele', 'combined_filtered_data', 'combined_results']

# Display the head of each table
for table in tables:
    display_table_head(table)

# Close the connection
conn.close()

Head of filtered_oil_data table:
         Date        Open        High         Low       Close  Adj Close  \
0  2020-01-02  120.809998  121.629997  120.769997  121.430000  98.217041
1  2020-01-03  121.779999  122.720001  120.739998  121.010002  97.877335
2  2020-01-06  121.239998  121.669998  120.330002  120.599998  97.545708
3  2020-01-07  119.019997  119.730003  117.769997  119.059998  96.300087
4  2020-01-08  118.550003  119.089996  117.650002  117.699997  95.200073

    Volume  Company  Year Quarter
0  5205000  Chevron  2020  2020Q1
1  6360900  Chevron  2020  2020Q1
2  9953000  Chevron  2020  2020Q1
3  7856900  Chevron  2020  2020Q1
4  7295900  Chevron  2020  2020Q1


Head of results_oil table:
   Company Quarter  Percentage Change (%)  Quarterly Volume  Volatility  \
0  Chevron  2020Q1             -39.660713         788831500   15.409300
1  Chevron  2020Q2              26.312721         716030900    5.280256
2  Chevron  2020Q3             -17.541660         611381100    4.415306
3  Chevron  2020Q4              20.562346         717577300    7.561747
4  Chevron  2021Q1              24.601587         705058900    7.359032

   Quarter ROI (%)  ROI on $1500 ($)
0       -40.021521       -600.322814
1        28.370020        425.550294
2       -19.354838       -290.322564
3        18.095363        271.430452
4        23.065178        345.977669


Head of filtered_tele_data table:
         Date       Open       High        Low      Close  Adj Close  \
0  2020-01-02  29.577040  29.622356  29.237160  29.350452  20.066734
1  2020-01-03  29.138973  29.607250  29.131420  29.501511  20.170006
2  2020-01-06  29.448641  29.569487  29.320242  29.531721  20.190668
3  2020-01-07  29.516617  29.682779  29.441088  29.645016  20.268124
4  2020-01-08  29.705439  29.871601  29.675226  29.735649  20.330088

     Volume Company  Year Quarter
0  43165445    AT&T  2020  2020Q1
1  36296666    AT&T  2020  2020Q1
2  51229797    AT&T  2020  2020Q1
3  37337462    AT&T  2020  2020Q1
4  53645832    AT&T  2020  2020Q1


Head of results_tele table:
  Company Quarter  Percentage Change (%)  Quarterly Volume  Volatility  \
0    AT&T  2020Q1             -22.696858        3788275272    1.768276
1    AT&T  2020Q2               6.987519        3247371887    0.648152
2    AT&T  2020Q3              -5.083615        2783972152    0.324620
3    AT&T  2020Q4              -0.140404        3504242716    0.633428
4    AT&T  2021Q1               4.110060        3620696860    0.367133

   Quarter ROI (%)  ROI on $1500 ($)
0       -25.561797       -383.426957
1         6.518678         97.780175
2        -5.376697        -80.650461
3         0.841514         12.622708
4         2.994213         44.913188


Head of combined_filtered_data table:
         Date        Open        High         Low       Close  Adj Close  \
0  2020-01-02  120.809998  121.629997  120.769997  121.430000  98.217041
1  2020-01-03  121.779999  122.720001  120.739998  121.010002  97.877335
2  2020-01-06  121.239998  121.669998  120.330002  120.599998  97.545708
3  2020-01-07  119.019997  119.730003  117.769997  119.059998  96.300087
4  2020-01-08  118.550003  119.089996  117.650002  117.699997  95.200073

    Volume  Company  Year Quarter
0  5205000  Chevron  2020  2020Q1
1  6360900  Chevron  2020  2020Q1
2  9953000  Chevron  2020  2020Q1
3  7856900  Chevron  2020  2020Q1
4  7295900  Chevron  2020  2020Q1


Head of combined_results table:
   Company Quarter  Percentage Change (%)  Quarterly Volume  Volatility  \
0  Chevron  2020Q1             -39.660713         788831500   15.409300
1  Chevron  2020Q2              26.312721         716030900    5.280256
2  Chevron  2020Q3             -17.541660         611381100    4.415306
3  Chevron  2020Q4              20.562346         717577300    7.561747
4  Chevron  2021Q1              24.601587         705058900    7.359032

   Quarter ROI (%)  ROI on $1500 ($)
0       -40.021521       -600.322814
1        28.370020        425.550294
2       -19.354838       -290.322564
3        18.095363        271.430452
4        23.065178        345.977669