### Create Database

In [1]:
# Import necessary libraries
import sqlite3
import pandas as pd

In [6]:
# Load the datasets into Pandas DataFrames
oil_data_file = 'outputs/filtered_oil_data.csv'   
tele_data_file = 'outputs/filtered_tele_data.csv' 

# Reading the CSV files into Pandas DataFrames
df_oil = pd.read_csv(oil_data_file)
df_tele = pd.read_csv(tele_data_file)

# Display the first few rows of both datasets to verify
print("Oil Data Sample:")
display(df_oil.head())  # Use display() for better formatting in Jupyter Notebook

print("\nTelecom Data Sample:")
display(df_tele.head())

Oil Data Sample:

,Date,Open,High,Low,Close,Adj Close,Volume,Company,Year,Quarter
0,2020-01-02,65.279999,65.680000,64.849998,65.459999,54.762161,4122800,COP,2020,2020Q1
1,2020-01-03,67.040001,67.129997,65.070000,65.699997,54.962936,6333200,COP,2020,2020Q1
2,2020-01-06,66.279999,66.940002,65.879997,66.480003,55.615452,8823800,COP,2020,2020Q1
3,2020-01-07,66.440002,66.489998,65.739998,66.480003,55.615452,5974800,COP,2020,2020Q1
4,2020-01-08,66.449997,66.629997,64.519997,64.940002,54.327137,6470100,COP,2020,2020Q1

Telecom Data Sample:

,Date,Open,High,Low,Close,Adj Close,Volume,Company,Year,Quarter
0,2021-01-04,22.197886,22.273415,21.918428,22.235649,16.811520,86700816,T,2021,2021Q1
1,2021-01-05,22.280968,22.469790,22.046827,22.099697,16.708736,83054520,T,2021,2021Q1
2,2021-01-06,22.212992,22.658609,22.182779,22.530210,17.034227,73455520,T,2021,2021Q1
3,2021-01-07,22.673716,22.726585,22.416918,22.590633,17.079912,71265359,T,2021,2021Q1
4,2021-01-08,22.009064,22.061934,21.714502,21.918428,16.962128,72471656,T,2021,2021Q1

In [7]:
# Connect to (or create) the SQLite database
conn = sqlite3.connect('project_database.db')  # Creates the database if it doesn't exist

# Checking connection success
print("Database connected successfully!")

Database connected successfully!

In [8]:
# Write the oil data to a new table 'oil_data'
df_oil.to_sql('oil_data', conn, if_exists='replace', index=False)

# Write the telecom data to a new table 'tele_data'
df_tele.to_sql('tele_data', conn, if_exists='replace', index=False)

# Confirmation message
print("Data successfully written to database!")

Data successfully written to database!

In [9]:
# Query the database to fetch and display the first 5 records from each table

# Query for oil data
query_oil = "SELECT * FROM oil_data LIMIT 5;"
result_oil = pd.read_sql(query_oil, conn)
print("Oil Data Sample from Database:")
display(result_oil)

# Query for telecom data
query_tele = "SELECT * FROM tele_data LIMIT 5;"
result_tele = pd.read_sql(query_tele, conn)
print("Telecom Data Sample from Database:")
display(result_tele)

Oil Data Sample from Database:

,Date,Open,High,Low,Close,Adj Close,Volume,Company,Year,Quarter
0,2020-01-02,65.279999,65.680000,64.849998,65.459999,54.762161,4122800,COP,2020,2020Q1
1,2020-01-03,67.040001,67.129997,65.070000,65.699997,54.962936,6333200,COP,2020,2020Q1
2,2020-01-06,66.279999,66.940002,65.879997,66.480003,55.615452,8823800,COP,2020,2020Q1
3,2020-01-07,66.440002,66.489998,65.739998,66.480003,55.615452,5974800,COP,2020,2020Q1
4,2020-01-08,66.449997,66.629997,64.519997,64.940002,54.327137,6470100,COP,2020,2020Q1

Telecom Data Sample from Database:

,Date,Open,High,Low,Close,Adj Close,Volume,Company,Year,Quarter
0,2021-01-04,22.197886,22.273415,21.918428,22.235649,16.811520,86700816,T,2021,2021Q1
1,2021-01-05,22.280968,22.469790,22.046827,22.099697,16.708736,83054520,T,2021,2021Q1
2,2021-01-06,22.212992,22.658609,22.182779,22.530210,17.034227,73455520,T,2021,2021Q1
3,2021-01-07,22.673716,22.726585,22.416918,22.590633,17.079912,71265359,T,2021,2021Q1
4,2021-01-08,22.009064,22.061934,21.714502,21.918428,16.962128,72471656,T,2021,2021Q1

In [10]:
# Always close the connection when done
conn.close()
print("Database connection closed.")

Database connection closed.